@font-face {
  font-family: Flubber;
  src: url(data-files/Flubber.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(data-files/Raleway-SemiBold.ttf);
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(255, 192, 156);
}

/*BG open*/

.question {
  background-color: rgba(255, 243, 221, 0.9);
  width: 150px;
  height: 156px;
  mask-image: url(imgs/question.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
}

#bg {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  .subdiv {
    display: flex;
    margin-top: -80px;
    position: relative;
  }
  .subdiv:first-child {
    margin-top: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-3deg);
  }
  10% {
    opacity: 0.8;
    transform: scale(0.2) rotate(-5deg);
  }
  20% {
    opacity: 0.3;
    transform: scale(0.8) rotate(-2deg);
  }
  30% {
    opacity: 0.7;
    transform: scale(0.3) rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: scale(1.2) rotate(2deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.4) rotate(5deg);
  }
  60% {
    opacity: 0.3;
    transform: scale(0.7) rotate(3deg);
  }
  70% {
    opacity: 0.1;
    transform: scale(0.5) rotate(-2deg);
  }
  80% {
    opacity: 0.4;
    transform: scale(0.1) rotate(0deg);
  }
  90% {
    opacity: 0.6;
    transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-3deg);
  }
}

@keyframes WaterFall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
/*BG close*/

h1 {
  font-family: Flubber, sans-serif;
  text-align: center;
  font-size: 80px;
  padding: 20px;
  color: rgb(68, 17, 5);
}

/*initializing open*/

#loading {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}

#loading::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 7px solid rgb(255, 166, 83);
  mask-image: linear-gradient(to top, transparent 50%, black 50%);
  mask-position: center right;
  mask-size: 30px 60px;
  mask-repeat: no-repeat;
  border-radius: 50%;
  content: "";
}

#loading::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 7px solid rgb(255, 166, 83);
  mask-image: linear-gradient(-65deg, transparent 20%, black 50%);
  mask-position: center left;
  mask-size: 33px 60px;
  mask-repeat: no-repeat;
  border-radius: 50%;
  content: "";
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#initializing {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgb(182, 110, 110) inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 197, 155);
  border: 30px double rgb(255, 72, 72);
  font-family: Raleway, sans-serif;
  font-size: 50px;
}

/*initializing close*/
