@font-face {
  font-family: Flubber;
  src: url(data-files/Flubber.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(data-files/Raleway-SemiBold.ttf);
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(255, 192, 156);
  --peach: rgb(255, 192, 156);
  --shadow: rgb(182, 110, 110);
  --red: rgb(255, 72, 72);
  --light-peach: rgb(255, 213, 189);
  --transp-teal: rgba(0, 117, 107, 0.479);
}

/*BG open*/

.question {
  background-color: rgba(255, 243, 221, 0.9);
  width: 150px;
  height: 156px;
  mask-image: url(imgs/question.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
}

#bg {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  .subdiv {
    display: flex;
    margin-top: -80px;
    position: relative;
  }
  .subdiv:first-child {
    margin-top: 0;
  }
}

ul {
  list-style-type: none;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-3deg);
  }
  10% {
    opacity: 0.8;
    transform: scale(0.2) rotate(-5deg);
  }
  20% {
    opacity: 0.3;
    transform: scale(0.8) rotate(-2deg);
  }
  30% {
    opacity: 0.7;
    transform: scale(0.3) rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: scale(1.2) rotate(2deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.4) rotate(5deg);
  }
  60% {
    opacity: 0.3;
    transform: scale(0.7) rotate(3deg);
  }
  70% {
    opacity: 0.1;
    transform: scale(0.5) rotate(-2deg);
  }
  80% {
    opacity: 0.4;
    transform: scale(0.1) rotate(0deg);
  }
  90% {
    opacity: 0.6;
    transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-3deg);
  }
}

@keyframes WaterFall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
/*BG close*/

h1 {
  font-family: Flubber, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 5em;
  padding: 20px;
  color: rgb(68, 17, 5);
  overflow-wrap: anywhere;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 3em;
  }
}

/*initializing open*/

#loading {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.3s;
  animation-timing-function: linear;
}

#loading::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 7px solid rgb(255, 166, 83);
  mask-image: linear-gradient(to top, transparent 50%, black 50%);
  mask-position: center right;
  mask-size: 30px 60px;
  mask-repeat: no-repeat;
  border-radius: 50%;
  content: "";
}

#loading::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 7px solid rgb(255, 166, 83);
  mask-image: linear-gradient(-65deg, transparent 20%, black 50%);
  mask-position: center left;
  mask-size: 33px 60px;
  mask-repeat: no-repeat;
  border-radius: 50%;
  content: "";
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#initializing {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgb(182, 110, 110) inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 197, 155);
  border: 30px double var(--red);
  font-family: Raleway, sans-serif;
  font-size: 50px;
  z-index: 10;
  transform-origin: center;
}

/*initializing close*/

#opening {
  width: 80%;
  height: 90%;
  background-color: var(--light-peach);
  box-shadow: 0px 0px 5px rgb(255, 174, 174), 0px 0px 10px var(--shadow) inset,
    0px 0px 10px var(--shadow);
  border: 30px double var(--red);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

#stories {
  width: 80%;
  height: 90%;
  background-color: var(--light-peach);
  box-shadow: 0px 0px 5px rgb(255, 174, 174), 0px 0px 10px var(--shadow) inset,
    0px 0px 10px var(--shadow);
  border: 30px double var(--red);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 5px;
  padding-bottom: 30px;
  box-sizing: border-box;
  transform-origin: 0% 0%;
  overflow-y: auto;
  overflow-x: clip;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  h1 {
    font-size: 5em;
  }
  .row {
    border-top: 10px double var(--red);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 83%;
    overflow-y: auto;
    scrollbar-width: 0;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .row::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

#stories::-webkit-scrollbar {
  display: none;
}

.button {
  cursor: pointer;
  height: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--peach);
  position: relative;
  box-shadow: 0px 0px 10px var(--shadow);
  .triangle {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid var(--red);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-33%, -50%);
  }
}

.button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 10px outset rgb(255, 174, 174);
  border-radius: 50%;
  /* box-shadow: 0px 0px 10px var(--shadow) inset; */
  transition: 0.5s;
}

.button:hover {
  transform: scale(1.2);
  transition: 0.3s;
  box-shadow: 0px 0px 20px var(--shadow);
}

.button:hover::after {
  transform: rotate(540deg);
  transition: 0.8s;
}

.button:active::after {
  transform: rotate(450deg);
  transition: 0.2s;
}

.button:active {
  box-shadow: 0px 0px 15px var(--shadow);
  transition: 0.2s;
}

.card {
  font-family: Raleway;
  cursor: pointer;
  color: black;
  aspect-ratio: 1/1;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--shadow);
  transition: 0.2s;
  .card-title {
    text-align: center;
  }
  .card-img-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 75%;
    object-fit: cover;
  }
}

.card:hover {
  transform: scale(1.06);
  box-shadow: 0px 0px 20px var(--shadow), 0px 0px 5px black;
  transition: 0.2s;
}

.fadeIn_initialize {
  animation-name: fadeIn_initialize;
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes fadeIn_initialize {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut_initialize {
  animation-name: fadeOut_initialize;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes fadeOut_initialize {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#prompt {
  transform-origin: center center;
  position: fixed;
  aspect-ratio: 3/2;
  opacity: 0;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border: 15px double var(--red);
  background: var(--light-peach);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px black, 0px 0px 50px var(--shadow);
  h1 {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 5px solid var(--red);
    margin-bottom: 0;
  }
  .inputs {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: start;
    border-top: 5px solid var(--red);
    margin-top: 2px;
    padding-top: 10px;
    input {
      font-family: Raleway, sans-serif;
    }
    input[type="text"] {
      width: 75%;
      height: 50%;
      background: rgba(255, 255, 255, 0.644);
      border: 1px solid var(--red);
      border-radius: 3px;
      padding-left: 10px;
    }
    input[type="submit"] {
      width: 25%;
      height: 50%;
      background-color: rgba(255, 72, 72, 0.644);
      border: 1px solid var(--transp-teal);
      border-radius: 3px;
    }
  }
  #counter {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
}

.zoomIn_prompt {
  animation-name: zoomIn_prompts;
  animation-fill-mode: forwards;
  animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes zoomIn_prompts {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.6);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.leave {
  animation-name: leave;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes leave {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    transform: translate(-250%, -50%) scale(0.8);
  }
}

#progress {
  width: 100%;
  height: 35px;
  background-color: rgba(255, 218, 218, 0.486);
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 0;
  backdrop-filter: blur(10px);
  border-top: 5px solid var(--red);
  #progressor {
    position: absolute;
    display: flex;
    align-items: center;
    background: var(--transp-teal);
    width: 100%;
    height: 100%;
    #percentage {
      position: absolute;
      right: 5px;
      color: black;
      font-family: Raleway, sans-serif;
    }
  }
}

#content {
  width: 80%;
  height: 90%;
  background-color: var(--light-peach);
  box-shadow: 0px 0px 5px rgb(255, 174, 174), 0px 0px 10px var(--shadow) inset,
    0px 0px 10px var(--shadow);
  border: 30px double var(--red);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  transform-origin: 0% 0%;
  overflow-y: auto;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  p {
    font-size: 20px;
    font-family: Raleway, sans-serif;
    padding: 10px;
    width: 100%;
    line-height: 28px;
    text-indent: 50px;
    text-align: justify;
  }
  .speakButton {
    max-width: 40%;
    align-self: flex-end;
    height: 30px;
    background: var(--peach);
    border: 2px solid var(--red);
    border-radius: 20px;
    margin: 0px 15px 0px 0px;
    font-family: Raleway, sans-serif;
    box-shadow: 0px 0px 0px black, 0px 0px 0px var(--shadow);
    transition: 0.2s;
  }
  .speakButton:hover {
    box-shadow: 0px 0px 5px black, 0px 0px 5px var(--shadow);
    transform: scale(1.1);
    transition: 0.2s;
  }
  h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    font-size: 50px;
  }
  h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: var(--red);
    transform: translateX(-50%);
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid var(--red);
    height: 80px;
    bottom: 0;
    width: 100%;
    padding-top: 23px;
    span {
      align-self: center;
      cursor: pointer;
      font-size: 30px;
      padding: 0;
      margin: 0;
      position: relative;
    }
    span::after {
      content: "";
      width: 0;
      height: 3px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      background: var(--transp-teal);
      transition: 0.4s;
    }
    span:hover::after {
      width: 100%;
      transition: 0.2s;
    }
  }
}

input:focus {
  outline: none;
}

.black_border {
  border: 1px solid black;
  border-radius: 2px;
  filter: brightness(95%);
}

.redden {
  animation-name: reddening;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes reddening {
  0% {
    background-color: rgba(255, 255, 255, 0.644);
  }
  50% {
    background-color: rgba(255, 133, 133, 0.644);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.644);
  }
}
