@font-face {
  font-family: Flubber;
  src: url(data-files/Flubber.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(data-files/Raleway-SemiBold.ttf);
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(255, 192, 156);
  --peach: rgb(255, 192, 156);
  --shadow: rgb(182, 110, 110);
  --red: rgb(255, 72, 72);
  --light-peach: rgb(255, 213, 189);
}

/*BG open*/

.question {
  background-color: rgba(255, 243, 221, 0.9);
  width: 150px;
  height: 156px;
  mask-image: url(imgs/question.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
}

#bg {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  .subdiv {
    display: flex;
    margin-top: -80px;
    position: relative;
  }
  .subdiv:first-child {
    margin-top: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-3deg);
  }
  10% {
    opacity: 0.8;
    transform: scale(0.2) rotate(-5deg);
  }
  20% {
    opacity: 0.3;
    transform: scale(0.8) rotate(-2deg);
  }
  30% {
    opacity: 0.7;
    transform: scale(0.3) rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: scale(1.2) rotate(2deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.4) rotate(5deg);
  }
  60% {
    opacity: 0.3;
    transform: scale(0.7) rotate(3deg);
  }
  70% {
    opacity: 0.1;
    transform: scale(0.5) rotate(-2deg);
  }
  80% {
    opacity: 0.4;
    transform: scale(0.1) rotate(0deg);
  }
  90% {
    opacity: 0.6;
    transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-3deg);
  }
}

@keyframes WaterFall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
/*BG close*/

h1 {
  font-family: Flubber, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 7em;
  padding: 20px;
  color: rgb(68, 17, 5);
  overflow-wrap: anywhere;
}

/*initializing open*/

#loading {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.3s;
  animation-timing-function: linear;
}

#loading::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 7px solid rgb(255, 166, 83);
  mask-image: linear-gradient(to top, transparent 50%, black 50%);
  mask-position: center right;
  mask-size: 30px 60px;
  mask-repeat: no-repeat;
  border-radius: 50%;
  content: "";
}

#loading::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 7px solid rgb(255, 166, 83);
  mask-image: linear-gradient(-65deg, transparent 20%, black 50%);
  mask-position: center left;
  mask-size: 33px 60px;
  mask-repeat: no-repeat;
  border-radius: 50%;
  content: "";
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#initializing {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgb(182, 110, 110) inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 197, 155);
  border: 30px double var(--red);
  font-family: Raleway, sans-serif;
  font-size: 50px;
  z-index: 10;
  transform-origin: center;
}

/*initializing close*/

#opening {
  width: 80%;
  height: 90%;
  background-color: var(--light-peach);
  box-shadow: 0px 0px 5px rgb(255, 174, 174), 0px 0px 10px var(--shadow) inset,
    0px 0px 10px var(--shadow);
  border: 30px double var(--red);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

#stories {
  width: 80%;
  height: 90%;
  background-color: var(--light-peach);
  box-shadow: 0px 0px 5px rgb(255, 174, 174), 0px 0px 10px var(--shadow) inset,
    0px 0px 10px var(--shadow);
  border: 30px double var(--red);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 5px;
  padding-bottom: 30px;
  box-sizing: border-box;
  transform-origin: 0% 0%;
  overflow-y: auto;
  overflow-x: clip;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  h1 {
    font-size: 5em;
  }
  .row {
    border-top: 10px double var(--red);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 83%;
    overflow-y: auto;
    scrollbar-width: 0;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .row::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

#stories::-webkit-scrollbar {
  display: none;
}

.button {
  cursor: pointer;
  height: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--peach);
  position: relative;
  box-shadow: 0px 0px 10px var(--shadow);
  .triangle {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid var(--red);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-33%, -50%);
  }
}

.button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border: 10px outset rgb(255, 174, 174);
  border-radius: 50%;
  /* box-shadow: 0px 0px 10px var(--shadow) inset; */
  transition: 0.5s;
}

.button:hover {
  transform: scale(1.2);
  transition: 0.3s;
  box-shadow: 0px 0px 20px var(--shadow);
}

.button:hover::after {
  transform: rotate(540deg);
  transition: 0.8s;
}

.button:active::after {
  transform: rotate(450deg);
  transition: 0.2s;
}

.button:active {
  box-shadow: 0px 0px 15px var(--shadow);
  transition: 0.2s;
}

.card {
  font-family: Raleway;
  cursor: pointer;
  color: black;
  aspect-ratio: 1/1;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--shadow);
  transition: 0.2s;
  .card-title {
    text-align: center;
  }
  .card-img-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 75%;
    object-fit: cover;
  }
}

.card:hover {
  transform: scale(1.06);
  box-shadow: 0px 0px 20px var(--shadow), 0px 0px 5px black;
  transition: 0.2s;
}
